body {
    background-color: black;
    color: lime;
    font-family: Consolas,"courier new";
    font-size: 18px;
}

a {
    text-align: center;
    color: #2654ec;
}

a:link {
  text-decoration: dotted;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
            color: #9087b2;

}

a:active {
  text-decoration: underline;
}

code {
  background-color: #233026;
  border: 2px solid #2f4d55;
  display: block;
  padding: 15px;
}
