body {
  background-color: black;
  color: lime;
  font-family: Consolas,"courier new";
  font-size: 1em;
  padding: 0% 23%;
  text-align: center;
  width: 50%;
}
button {
  padding: 4px 4px 4px 4px;
}

#myDIV2{
 color: blue;
 max-width: 0% 24%;
 overflow: auto;
}

#myDIV2 code {
  color: #9393cd;
 max-width: 0% 24%;
 

}

#Home {
  color: #25dfda;
  text-align: center;
  }

h1, h3, h2 {
  color: #5bd2e8;
 width: 0% 50%;
  text-align: center;
  }
 
a {
    text-align: center;
    color: #f26b11;
  }
  
a:link {
  text-decoration: dotted;
  }
  
a:visited {
  text-decoration: none;
  }
  
  a:hover {
  text-decoration: underline;
            color: #9087b2;
  
  }
  
  a:active {
  text-decoration: underline;
  }
  
  code {
  background-color: #131d15;
  border: 2px solid #2f4d55;
  display: block;
  font-size: 0.8em;
  word-wrap: break-word;
  text-align: left;
 max-width: 0% 2%;
    overflow: auto;

  }
  
  input:checked + div { 
  display: none; 
  }
  
  
  hr.solid {
  border: 2px solid #6c0e7b;
  text-align: center;
    margin-left:0;
  }
  

  p{
  text-align: left;
 width: 0% 23%;
      word-wrap: break-word;

 word-wrap: normal;

  }

#withtoggle{
  text-align: left;
 width: 0% 23%;
 

  }
pre{
  
  text-align: left;
 width: 0% 23%;
  }












  @media only screen and (max-device-width: 680px) {
body {
  background-color: black;
  color: lime;
  font-family: Consolas,"courier new";
  font-size: 1em;
  padding: 0% 23%;
  text-align: center;
  width: 50%;
}
button {
  padding: 4px 4px 4px 4px;
}

#myDIV2{
 color: blue;
 width: 0% 23%;
 overflow: auto;
}

#myDIV2 code {
  color: #9393cd;
 max-width: 500px;
 

}

#Home {
  color: #25dfda;
  text-align: center;
  }

h1, h3, h2 {
  color: #5bd2e8;
 width: 0% 50%;
  text-align: center;
  }
 
a {
    text-align: center;
    color: #f26b11;
  }
  
a:link {
  text-decoration: dotted;
  }
  
a:visited {
  text-decoration: none;
  }
  
  a:hover {
  text-decoration: underline;
            color: #9087b2;
  
  }
  
  a:active {
  text-decoration: underline;
  }
  
  code {
  background-color: #131d15;
  border: 2px solid #2f4d55;
  display: block;
  font-size: 1em;
  word-wrap: break-word;
  text-align: left;
  width: 0% 23%;
  }
  
  input:checked + div { 
  display: none; 
  }
  
  
  hr.solid {
  border: 2px solid #6c0e7b;
  text-align: center;
    margin-left:0;
  }
  

  p{
  text-align: left;
 width: 0% 23%;
      word-wrap: break-word;

 word-wrap: normal;

  }

#withtoggle{
  text-align: left;
 width: 0% 23%;
 

  }
pre{
  
  text-align: left;
 width: 0% 23%;
  }

  }