body {
  background-color: black;
  color: lime;
  font-family: Consolas,"courier new";
  font-size: 18px;
padding: 20px 0px 0px 200px;
    text-align: center;
 width: 100%;

}
button {
  padding: 4px 4px 4px 4px;
}

#Home {
  color: #25dfda;
  text-align: center;
  }
h1, h3, h2 {
  color: #5bd2e8;
 width: 0% 50%;
  text-align: center;
  }
 
a {
    text-align: center;
    color: #f26b11;
  }
  
a:link {
  text-decoration: dotted;
  }
  
a:visited {
  text-decoration: none;
  }
  
  a:hover {
  text-decoration: underline;
            color: #9087b2;
  
  }
  
  a:active {
  text-decoration: underline;
  }
  
  code {
  background-color: #131d15;
  border: 2px solid #2f4d55;
  display: block;
  padding: 10px 0px 0px 0px;
  font-size: 14px;
   text-align: left;
 width: 0% 50%;
  }
  
  input:checked + div { 
  display: none; 
  }
  
  
  hr.solid {
  border: 2px solid #6c0e7b;
  text-align: center;
    margin-left:0;
  }
  

  p{
  text-align: left;
 width: 0% 50%;

  }
pre{
  
  text-align: left;
 width: 0% 50%;
  }

  #withtoggle {
    display: inline;
  }
  
  @media only screen and (max-device-width: 680px) {
  html {
    width: 100%;
      background-color: black;
       color: #00ff00;
       font-family: Consolas,"courier new";
   padding: 20px;
  margin:  -30px 20px 10px -5px;
        font-size: 14px;
  
  }
  }