html {
    background-color: black;
     color: #00ff00;
     font-family: Consolas,"courier new";
 padding: 20px;
margin:  -30px 20px 10px -5px;
}
 
 
 a {
     width:10%;
     text-align: center;
     font-size: 17px;
     font-family: Consolas,"courier new";
     color: #ff8800;
 }
 
 a:link {
   text-decoration: dotted;
 }
 
 a:visited {
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: underline;
             color: #9087b2;
 
 }
 
 a:active {
   text-decoration: underline;
 }
 
 
 tr{
 text-align: center;
     
 }
 
 .styled-table {
 
     border-collapse: collapse;
     margin: 24px 0;
     font-size: 0.9em;
     font-family: Consolas,"courier new";
         font-size: 17px;
     min-width: 100px;
      max-width: 1200px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 .styled-table thead tr {
     background-color: #d2cbcb;
     color: #c96b6b;
 
 }
 .styled-table th{
       color: #1cecff;
 
 }
 
 
 .styled-table th,
 .styled-table td {
     padding: 13px 55px 10px 15px;
 }
 
 .styled-table tbody tr {
     border-bottom: 1px solid #8c6c6c;
     
 }
 
 .styled-table tbody tr:nth-of-type(even) {
     background-color: #000000;
 }
 
 .styled-table tbody tr:last-of-type {
     border-bottom: 2px solid #6c7f7b;
 }
     
 .styled-table tbody tr.active-row {
     font-weight: bold;
 }
 
 .tablelink {
     width:100%;
     text-align: left;
     padding: 0%;
     font-size: 17px;
     font-family: Consolas,"courier new";
 }
 
 
 
 
 
 
 
 .styled-tabletop {
     border-collapse: collapse;
     margin: 12px 2px 22px 22px;
     font-size: 0.9em;
     font-family: Consolas,"courier new";
         font-size: 17px;
     min-width: 300px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 .styled-tabletop thead tr {
     background-color: #ff4d4d;
 
 }
 
 .styled-tabletop th{
       color: #1cecff;
 
 }
 
 
 .styled-tabletop th, .styled-tabletop td {
     padding: 12px 2px 11px 16px;
 }
 
 .styled-tabletop tbody tr {
     border-bottom: 1px solid #606060;
     
 }
 
 .styled-tabletop tbody tr:nth-of-type(even) {
       color: #a84747;
 
 }
 
 .styled-tabletop tbody tr:last-of-type {
     border-bottom: 2px solid #6c7f7b;
 }
     
 .styled-tabletop tbody tr.active-row {
     font-weight: bold;
     color: #1bf4be;
 }

 @media only screen and (max-device-width: 680px) {
html{
    background-color: yellow;

}
}