body {
  background-color: #bee2d8;
  color: #010201;
  font-family: Consolas,"courier new";
  font-size: 1.2em;
}

#Home {
  color: #25dfda;
  }



  p{
  word-wrap: break-word;


  }

hr {
border-top: 1px dotted #000000;
border-bottom: none;
 border-left: none;
border-right: none;
width: 5%;
height: 20px;
  border-width: 8px;

}

.aboutmenav {
  font-family: 'Montserrat', sans-serif;
}

.skills-container {
 text-align: center;
 width: auto;
 padding: 0px 25%;
}